In [6]:
# 주석     실행명령은 shift + enter
# 주석 연속실행명령은 ctrl +enter
print('hello world!')

hello world!

In [13]:
print('hello'); print('1234') #세미콜론 : 세미콜론 뒤 명령어가 끝난다

hello
1234

In [17]:
 a = 1 + 2
print(a)

3

## 4.3 들여쓰기 --- p.56

In [30]:
a = 10
if a == 10:
    print('10입니다.')

print('끝')

10입니다.
끝

In [31]:
#사칙연산 + - * /
1+1

2

In [36]:
1-2

-1

In [40]:
1*3

3

In [41]:
2**3 #거듭제곱

8

In [34]:
5/2

2.5

In [35]:
5//2 #나누기한 몫

2

In [38]:
5%2 #나누기한 나머지

1

In [42]:
int(3.3)

3

In [45]:
type(10)

int

In [46]:
type('10')

str

In [47]:
a = '10'
type(a)

str

In [48]:
astype(a)

NameError: name 'astype' is not defined

In [49]:
divmod(5,2) #몫, 나머지

(2, 1)

In [54]:
quot, rem = divmod(5,2)
#quot, rem = (2,1)
print(quot, rem)

2 1

In [55]:
0b11 #0b : 이진수 2^1 + 2^0

3

In [56]:
0o11 #0o : 8진수 8^1 + 8^0

9

In [57]:
0x11 #0x : 10진수 10^1 + 10^0

17

In [59]:
float(5)

5.0

In [61]:
float('5.3')

5.3

In [62]:
float(0.5 + 7.4)

7.9

In [63]:
10/4

2.5

In [66]:
x = 10 #변수x 선언과 동시에 10이라는 값 할당

3

In [68]:
4555-(455.5*3)

3188.5

In [69]:
x = 'hello world hahaha test test'

In [70]:
x

'hello world hahaha test test'

In [72]:
x, y, z = 10, 20, 30

In [73]:
print(x, y, z)

10 20 30

In [81]:
x = y= z = 10

In [75]:
print(x, y, z)

10 10 10

In [90]:
x

10

In [77]:
del x

In [82]:
print(x)

10

In [87]:
a = 10
a +20

30

In [88]:
a = a +20
a

30

In [89]:
a += 20
a

50

In [ ]:
d += 20

In [91]:
k=200

In [92]:
input()

10

'10'

In [93]:
x = input()

hello world!

In [94]:
x = input('문자열을 입력하세요: ')

문자열을 입력하세요: hello world!

In [101]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
print(a + b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
1020

In [105]:
type(a)

str

In [108]:
a = input('첫 번째 숫자를 입력하세요: ')
a = int(a)
b = input('두 번째 숫자를 입력하세요: ')
b= int(b)
print(a + b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
30

In [106]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
print(int(a) + int(b))

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
30

In [1]:
#한 번에 변수 여러 개 저장 - split
a, b = input().split()
print(a,b)
print(a+b)

10 20
10 20
1020

In [2]:
a, b = 'hello world!'.split()

In [3]:
a

'hello'

In [4]:
b

'world!'

In [5]:
a, b = input('문자열 수 두 개를 입력하세요: ').split()

문자열 수 두 개를 입력하세요: hello world

In [6]:
a , b = 'hello world'.split()

In [7]:
a = 'hello world'

In [8]:
a, b = map(int, input('문자열 수 두 개를 입력하세요: ').split())
print(a + b)

문자열 수 두 개를 입력하세요: 10 30
40

In [9]:
'10 30'.split()

['10', '30']

In [16]:
a, b = map(int, ['10','30'])
print(a + b)

40

In [17]:
a

10

In [18]:
a.__iter__()

AttributeError: 'int' object has no attribute '__iter__'

# UNIT7 출력방법 알아보기 --- p.85

In [ ]:
print

In [14]:
type(a)

int

In [20]:
a=1
print(a,2,3)

1 2 3

In [21]:
type(a)

int

In [22]:
print('Hello', 'Python')

Hello Python

In [23]:
print(1)
print(2)
print(3)

1
2
3

In [27]:
print(1,2,3, sep= '\n') # sep : 문자열 사이 넣고 싶은 연산자 쓰셈

1
2
3

In [28]:
print(1980,1080, sep='x')

1980x1080

In [33]:
print(1, end=' ') #end= '' 끝날 때 공백이 들어가는데 그 다음 값이 그 공백 옆에 입력됨
print(2, end=' ')
print(3, end=' ')

1 2 3

In [30]:
print(1), print(2), print(3)

1
2
3

(None, None, None)

In [35]:
print(1, end='one ')
print(2, end='two ')
print(3, end='three')

1one 2two 3three

In [36]:
10==10

True

In [43]:
a =1
b = 1.0

In [44]:
a == b # just 값비교

True

In [45]:
a is b

False

In [46]:
type(a)

int

In [47]:
type(b)

float

In [49]:
id(a)

140704342643520

In [48]:
id(b)

1387263637784

In [53]:
not False

True

In [56]:
True and False #and 그리고 교집합

False

In [58]:
True or False #or 또는 합집합

True

In [55]:
#우선순위 not > and > or
not True and False or not False

True

In [57]:
not True and False or not False and not True and not False or not True

False

In [59]:
10 == 10 and 10 != 5

True

In [60]:
True and 'python' #T이니까 'python' 자체값이 결과값임

'python'

In [61]:
False and 'python'

False

In [62]:
True or 'python' #합집합이니 하나만 T라도 T

True

In [66]:
False or 'python' #일단 앞에가 F이니까 뒤에값을 보게 됨 즉 'python'이 결과값이 됨

'python'

In [67]:
'python' and 'aaa'

'aaa'

In [64]:
'python' or 'aaa'

'python'

In [65]:
bool('python')

True

# UNIT9 문자열 사용하기 --- p.107

In [68]:
hello = "hello, world!"

In [69]:
hello

'hello, world!'

In [70]:
# 중간에 홑따옴표 나오면 바깥에 쌍따옴표로 찍어주면 됨
hello = "this is't that"

In [72]:
hello

"this is't that"

In [77]:
hello = "그는 '탐' 이었다."
hello

"그는 '탐' 이었다."

In [81]:
#이스케이프 : 작은 따옴표 안에 작은따옴표 넣고 싶을 때 \(역슬래시) 붙여줌
hello = 'this isn\'t that'
hello

"this isn't that"

In [83]:
hello = '''this is


that'''

'this is\n\n\nthat'

In [86]:
hello

'this is\n\n\nthat'

In [87]:
print(hello)

this is


that

# UNIT10 리스트와 튜플 사용하기 --- p.114

In [ ]:
##리스트

In [88]:
a= [1,2,3,4,5,6,7,8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
range(10)

range(0, 10)

In [90]:
a= list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
b= list((1,2,3))
b

[1, 2, 3]

In [95]:
b = list(range(1, 4))
b

[1, 2, 3]

In [98]:
c= list(range(-4, 10, 2)) #-4-3,,-2,-1,0,1,2,3,4,5,6,7,8,9(첫번째포함, 마지막불포함)
c

[-4, -2, 0, 2, 4, 6, 8]

In [100]:
d = list(range(10,0,-1)) #10,9,8,7,6,5,4,3,2,1
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [101]:
##튜플

In [102]:
a = (38,21,53,62,19)
a

(38, 21, 53, 62, 19)

In [106]:
person_t = ('james', 17, 175.3, True)
person_t

('james', 17, 175.3, True)

In [107]:
type(person_t) #변경이 안되니까 메모리가 적게 듦

tuple

In [108]:
person_l = ['james', 17, 175.3, True]
person_l

['james', 17, 175.3, True]

In [110]:
type(person_l)

list

# UNIT11 시퀀스 자료형 활용하기 --- p.124

In [112]:
a =[0,10,20,30,40] #list
a

[0, 10, 20, 30, 40]

In [113]:
a[0]

0

In [114]:
a[1]

10

In [115]:
s = 'hello' #string
s

'hello'

In [116]:
s[0]

'h'

In [117]:
s[1]

'e'

In [118]:
100 in a

False

In [119]:
'h' in s

True

In [120]:
a = [0,10,30]
len(a)

3

In [121]:
h = 'hello'
len(h)

5

In [122]:
len(range(0,10,2))

5

In [123]:
range(0,10,2)

range(0, 10, 2)

In [124]:
a = [38,21,53,62,19]
a

[38, 21, 53, 62, 19]

In [125]:
a[2]

53

In [126]:
a.__getitem__(2)

53

In [127]:
a[-1] #맨뒤로

19

In [128]:
a[len(a)-1]

19

In [129]:
#변수 = 값 = 냉장고 들어갈 공간
#공간 = 공간안에 있는 값 = 냉장고
k = 10 #k는 공간
i = k  #k는 값

In [130]:
b = (1,2,3)
b

(1, 2, 3)

In [131]:
type(b)

tuple

In [132]:
del b[1] #튜플을 변경, 삭제 불가하므로 에러는 당연

TypeError: 'tuple' object doesn't support item deletion

In [133]:
a=[0,10,20,30,40,50,60]
a

[0, 10, 20, 30, 40, 50, 60]

In [134]:
a[2:5]

[20, 30, 40]

In [135]:
len(a)

7

In [136]:
a= list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [137]:
len(a)

10

In [138]:
a[2:8]

[20, 30, 40, 50, 60, 70]

In [140]:
a[2:8:3]

[20, 50]

In [141]:
a[4:-1]

[40, 50, 60, 70, 80]

In [142]:
a[-1:4:-1]

[90, 80, 70, 60, 50]

In [144]:
a[-1]

90

In [145]:
##딕셔너리 - key값 존재

In [151]:
lux = {'health': 490, 'mana':334, 'melee':550}
lux

{'health': 490, 'mana': 334, 'melee': 550}

In [152]:
lux['health']

490

In [153]:
dict1 = dict(zip(['a', 'b', 'c'], [1, 2, 3]))
dict1

{'a': 1, 'b': 2, 'c': 3}

In [155]:
dict1['a']=50
dict1

{'a': 50, 'b': 2, 'c': 3}

In [156]:
30 in dict1

False

In [157]:
'a' in dict1 #키값을 입력해야 함

True

# UNIT12 if조건문으로 특정 조건일 때 코드 실행하기 --- p.175

In [159]:
x = 10
if x == 10:
    print('x는 10')

x는 10

In [5]:
x = int(input())

if x == 10:
    print('10입니다.')
    
    
if x ==20:
    print('20입니다.')
print(x,'입니다.',sep='')

60
60입니다.

# UNIT14 else를 사용하여 두 방향으로 분기하기 --- p.186

# UNIT15 elif를 사용하여 여러 방향으로 분기하기 --- p.197

# UNIT16 for반복문으로 Hello, world! 100번 출력하기 --- p.207

In [ ]:
for 변수 in range(횟수):
    반복할 코드

In [7]:
for i in range(5):
    print('hello world!')

hello world!
hello world!
hello world!
hello world!
hello world!

In [13]:
for i in [2,4,6,8,10]:
    print('hello world!',i, sep=":")

hello world!:2
hello world!:4
hello world!:6
hello world!:8
hello world!:10

In [23]:
for i in range(1,101, 10):
    print('hello world!',i, sep=":")

hello world!:1
hello world!:11
hello world!:21
hello world!:31
hello world!:41
hello world!:51
hello world!:61
hello world!:71
hello world!:81
hello world!:91

# UNIT17 while반복문으로 Hello, world! 100번 출력하기 --- p.219

In [21]:
i = 0
while i <5:
    print('hello world', i, sep=':')
    i +=1 # i = i+1 
    
print('end')

hello world:0
hello world:1
hello world:2
hello world:3
hello world:4
end

In [1]:
end = int(input())

i=0
while i < end:
    print('hello world')
    i += 1
    
print('end')

5
hello world
hello world
hello world
hello world
hello world
end

In [3]:
i=0
cnt= int(input('몇 번 돌리고 싶으세요: '))

while i < cnt:
    loop = int(input('print를 몇 번 하고 싶으세요: '))
    
    print('hello world')
    i+=1
    
print('끝')

몇 번 돌리고 싶으세요: 3
hello world
hello world
hello world
끝

In [4]:
import random
random.random()

0.10234138084714384

In [10]:
random.randint(1,45)

13

In [11]:
a = [0,0,0,0,0]
a

[0, 0, 0, 0, 0]

In [12]:
a[0] = random.randint(1,45)
a[1] = random.randint(1,45)
a[2] = random.randint(1,45)
a[3] = random.randint(1,45)
a[4] = random.randint(1,45)
a

[30, 28, 10, 45, 35]

In [13]:
i=0
while i <5:
    a[i] = random.randint(1,45)
    print(i)
    i+=1
    
a

0
1
2
3
4

[17, 20, 22, 21, 42]

# UNIT18 break, continue로 반복문 제어하기 --- p.231

In [15]:
i = 0
while True:
    a[i] = random.randint(1,45)
    i += 1
    if i == 5:
        break
        
a

[43, 33, 20, 34, 4]

In [17]:
for i in range(5): #[0,1,2,3,4]
    a[i] = random.randint(1,45)
    print(i)
    
a

0
1
2
3
4

[43, 28, 26, 38, 31]

In [20]:
# 짝수만!
i = 0
while True:
    val = random.randint(1,45)
    if val % 2 == 1:
        continue
    
    a[i] = val
    i += 1
    if i == 5:
        break     
a

[32, 22, 24, 20, 14]

# UNIT19 계단식으로 별 출력하기 --- p.242

In [24]:
for i in range(5):
    print('*****')

*****
*****
*****
*****
*****

In [25]:
for i in range(5):
    print('*'*5)

*****
*****
*****
*****
*****

In [27]:
for i in range(5):
    print('*', end='') #end : 그 뒤의 출력값과 이어서 출력

*****

In [30]:
for i in range(5):
    for i in range(5):
        print('*', end='') # 쭉 나열이 돼버림

*************************

In [32]:
for i in range(5):
    for i in range(5):
        print('*', end='')
    print('\n') # 한 칸씩 띄어쓰기 됨

*****

*****

*****

*****

*****

In [35]:
for i in range(5):
    for i in range(5):
        print('*', end='')
    print('\n', end='') #5개씩 공백없이 원하는대로 됨

*****
*****
*****
*****
*****

In [46]:
for i in range(5):
    for j in range(random.randint(3,7)):
        print('*', end='')
    print()

*******
*****
*******
***
******

In [54]:
for i in range(5): #i가 제어하는 부분은 라인
    for j in range(i+1): #j가 제어하는 부분은 각 라인라인
        print('*', end='')
    print()

*
**
***
****
*****

In [58]:
for i in range(5):
    for j in range(5):
        if i==j:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [65]:
for i in range(5):
    for j in range(5):
        if i <= j:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*****
 ****
  ***
   **
    *

In [ ]:
   *
  ***
 *****
*******
 *****
  ***
   *

# UNIT21 터틀 그래픽스로 그림 그리기 --- p.260

In [67]:
import turtle as t
t.shape('turtle')

In [68]:
t.forward(100)

In [69]:
t.right(90)

In [70]:
t.forward(100)

# UNIT22 리스트와 튜플 응용하기 --- p.280

In [27]:
a = [10,20,30]
a

[10, 20, 30]

In [5]:
a.append(500)
a

[10, 20, 30, 500]

In [7]:
type(a)

list

In [6]:
dir(a) #리스트에서 쓸 수 있는 함수?

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
a.__dir__()

['__repr__',
 '__hash__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__iter__',
 '__init__',
 '__len__',
 '__getitem__',
 '__setitem__',
 '__delitem__',
 '__add__',
 '__mul__',
 '__rmul__',
 '__contains__',
 '__iadd__',
 '__imul__',
 '__new__',
 '__reversed__',
 '__sizeof__',
 'clear',
 'copy',
 'append',
 'insert',
 'extend',
 'pop',
 'remove',
 'index',
 'count',
 'reverse',
 'sort',
 '__doc__',
 '__str__',
 '__setattr__',
 '__delattr__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__dir__',
 '__class__']

In [9]:
a.append([500,600])
a

[10, 20, 30, 500, [500, 600]]

In [10]:
b=[700,800] #리스트안에 리스트를(덩어리 하나 통째로) 넣을 수 있음
a.append(b)
a

[10, 20, 30, 500, [500, 600], [700, 800]]

In [11]:
type(b)

list

In [12]:
a[4][1]

600

In [13]:
c = [1,2]
c.append(a)
c

[1, 2, [10, 20, 30, 500, [500, 600], [700, 800]]]

In [15]:
len(c)

3

In [14]:
c[2][4][1]

600

In [17]:
c.append(5)
c

[1, 2, [10, 20, 30, 500, [500, 600], [700, 800]], 5, 5]

In [19]:
c.pop()
c

[1, 2, [10, 20, 30, 500, [500, 600], [700, 800]], 5]

In [20]:
c[2]

[10, 20, 30, 500, [500, 600], [700, 800]]

In [22]:
c[2][4]

[500, 600]

In [23]:
c[2][4][1]

600

In [28]:
a.extend(b)
a

[10, 20, 30, 700, 800]

In [29]:
len(a)

5

In [32]:
a.insert(2,500)
a

[10, 20, 500, 500, 30, 700, 800]

In [34]:
a.insert(len(a),600)
a

[10, 20, 500, 500, 30, 700, 800, 600, 600]

In [50]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

print(a)
print(b)
print(c)
print(d)

10
[10, 20, 30]
[100, 200]
[]

In [51]:
b.append(40)
b

[10, 20, 30, 40]

In [52]:
b.insert(2,50)
b

[10, 20, 50, 30, 40]

In [49]:
#b.remove(50)
#b

[10, 50, 20, 30, 40]

In [53]:
print(b)
print(c)

[10, 20, 50, 30, 40]
[100, 200]

In [54]:
b.extend(c)
b

[10, 20, 50, 30, 40, 100, 200]

In [55]:
c

[100, 200]

In [56]:
c[0]=300
c

[300, 200]

In [57]:
b

[10, 20, 50, 30, 40, 100, 200]

In [58]:
c=[1000,2000]
b.append(c)
b

[10, 20, 50, 30, 40, 100, 200, [1000, 2000]]

In [67]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

b.append(40)
b.insert(2,50)
b.extend(c)

print(b)
print(c)

[10, 20, 50, 30, 40, 100, 200]
[100, 200]

In [68]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

b.append(40)
b.insert(2,50)
b.extend(c)

c = [1000,2000]
b.append(c)
b

c[0]=5000 #리스트 안에 있기 때문에 acess 가능함!
b

[10, 20, 50, 30, 40, 100, 200, [5000, 2000]]

In [76]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

b.append(40)
b.insert(2,50)
b.extend(c)

c = [1000,2000]
b.append(c)

c[0]=5000 #리스트 안에 있기 때문에 acess 가능함!
b[1]= [500,600]

b[1:1] = [500,600] #인덱스 1에 덮어쓰지 않고 삽입 가능
b[2:2] = [1000,2000]#인덱스 2
b

[10, 500, 1000, 2000, 600, [500, 600], 50, 30, 40, 100, 200, [5000, 2000]]

In [78]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

b.append(40)
b.insert(2,50)
b.extend(c)

c = [1000,2000]
b.append(c)

c[0]=5000 #리스트 안에 있기 때문에 acess 가능함!
b[1]= [500,600]

b[1:1] = [500,600] #인덱스 1에 덮어쓰지 않고 삽입 가능
b[2:2] = [1000,2000]#인덱스 2

b.remove(1000)
b.remove(2000)
b

[10, 500, 600, [500, 600], 50, 30, 40, 100, 200, [5000, 2000]]

In [79]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

b.append(40)
b.insert(2,50)
b.extend(c)

c = [1000,2000]
b.append(c)

c[0]=5000 #리스트 안에 있기 때문에 acess 가능함!
b[1]= [500,600]

b[1:1] = [500,600] #인덱스 1에 덮어쓰지 않고 삽입 가능
b[2:2] = [1000,2000]#인덱스 2

b.remove(1000)
b.remove(2000)

b.pop() #마지막이 list이기 때문에 리스트를 감싸고 있는 틀이 없어짐
#변수 c가 따로 남아있는지 확인해 볼 필요가 있음

print(b)
print(c) #있음

[10, 500, 600, [500, 600], 50, 30, 40, 100, 200]
[5000, 2000]

In [83]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

b.append(40)
b.insert(2,50)
b.extend(c)
#b

c = [1000,2000]
b.append(c)
#b

c[0]=5000 #리스트 안에 있기 때문에 acess 가능함!
b[1]= [500,600]
#b

b[1:1] = [500,600] #인덱스 1에 덮어쓰지 않고 삽입 가능
b[2:2] = [1000,2000]#인덱스 2

b.remove(1000)
b.remove(2000)
#b

b.pop() #마지막이 list이기 때문에 리스트를 감싸고 있는 노드(틀)만 없어짐
#변수 c가 따로 남아있는지 확인해 볼 필요가 있음

#print(b)
#print(c) #있음

# 다시 검증하기 위해 합치고 주소값 비교해 보자
b.append(c)
print(b)
print(c)
print(id(b[9]))
print(id(c))

[10, 500, 600, [500, 600], 50, 30, 40, 100, 200, [5000, 2000]]
[5000, 2000]
2049694594248
2049694594248

In [84]:
a =10
b=[10,20,30]
c=[100,200]
d=[]

b.append(40)
b.insert(2,50)
b.extend(c)
#b

c = [1000,2000]
b.append(c)
#b

c[0]=5000 #리스트 안에 있기 때문에 acess 가능함!
b[1]= [500,600]
#b

b[1:1] = [500,600] #인덱스 1에 덮어쓰지 않고 삽입 가능
b[2:2] = [1000,2000]#인덱스 2

b.remove(1000)
b.remove(2000)
#b

b.pop() #마지막이 list이기 때문에 리스트를 감싸고 있는 노드(틀)만 없어짐
#변수 c가 따로 남아있는지 확인해 볼 필요가 있음

#print(b)
#print(c) #있음

# 다시 검증하기 위해 합치고 주소값 비교해 보자
b.append(c)
#print(b)
#print(c)
#print(id(b[9]))
#print(id(c))

b.remove(600)
b

[10, 500, [500, 600], 50, 30, 40, 100, 200, [5000, 2000]]

In [85]:
#스택구조 - FILO first in(10,20,30) last out(30,20,10) 

a = []
cnt = int(input("몇 개의 값을 입력하시나요: "))
for i in range(cnt):
    val = int(input("값을 입력해주세요: "))
    a.append(val)
    print(i+1,"번째 값 입력됨")
    
print("입력된 값을 스택구조로 출력하겠습니다.")

for i in range(len(a)):
    print(a.pop())

몇 개의 값을 입력하시나요: 3
값을 입력해주세요: 1
1 번째 값 입력됨
값을 입력해주세요: 2
2 번째 값 입력됨
값을 입력해주세요: 3
3 번째 값 입력됨
입력된 값을 스택구조로 출력하겠습니다.
3
2
1

In [86]:
#큐 - FIFO first in(10,20,30) first out(30,20,10) 

a = []
cnt = int(input("몇 개의 값을 입력하시나요: "))
for i in range(cnt):
    val = int(input("값을 입력해주세요: "))
    a.append(val)
    print(i+1,"번째 값 입력됨")
    
print("입력된 값을 스택구조로 출력하겠습니다.")

for i in range(len(a)):
    print(a.pop(0)) #0번째 인덱스를 빼와라!

몇 개의 값을 입력하시나요: 3
값을 입력해주세요: 10
1 번째 값 입력됨
값을 입력해주세요: 20
2 번째 값 입력됨
값을 입력해주세요: 30
3 번째 값 입력됨
입력된 값을 스택구조로 출력하겠습니다.
10
20
30

In [87]:
## 인덱스

In [89]:
a = [10,20,30,20,15,20]
a

[10, 20, 30, 20, 15, 20]

In [90]:
a.count(20) #20 몇 개 있냥?

3

In [91]:
a.reverse() #리스트 순서 뒤집기
a

[20, 15, 20, 30, 20, 10]

In [92]:
a.sort() #디폴트값이 오름차순
a

[10, 15, 20, 20, 20, 30]

In [94]:
a.sort(reverse = True) #디폴트값이 오름차순
a

[30, 20, 20, 20, 15, 10]

In [95]:
a.__dir__()

['__repr__',
 '__hash__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__iter__',
 '__init__',
 '__len__',
 '__getitem__',
 '__setitem__',
 '__delitem__',
 '__add__',
 '__mul__',
 '__rmul__',
 '__contains__',
 '__iadd__',
 '__imul__',
 '__new__',
 '__reversed__',
 '__sizeof__',
 'clear',
 'copy',
 'append',
 'insert',
 'extend',
 'pop',
 'remove',
 'index',
 'count',
 'reverse',
 'sort',
 '__doc__',
 '__str__',
 '__setattr__',
 '__delattr__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__dir__',
 '__class__']

In [96]:
sorted(a) #a를 변형하지 않고, a를 가져다가 나열만 함해서 외부함수
#a.sort() :a 자체값을 바꿔서 결과값을 내 버림. 일반함수

[10, 15, 20, 20, 20, 30]

In [97]:
sorted(a, reverse = True)

[30, 20, 20, 20, 15, 10]

In [103]:
a = [0,0,0,0,0,0]

b = a
print(a, b)
print("a", id(a), " ", "b", id(b), sep=':') #주소 똑같음

[0, 0, 0, 0, 0, 0] [0, 0, 0, 0, 0, 0]
a:2049699064648: :b:2049699064648

In [106]:
a = 10
b = a
print('a:', a, 'b:',b)
b = 30
print('a:', a, 'b:',b)

print("a", id(a), " ", "b", id(b), sep=':')

a: 10 b: 10
a: 10 b: 30
a:140703646717024: :b:140703646717664

In [108]:
a = [1,2,3]
b = a
print(a, b)

b[2] = 99
print(a, b) #a값도 바뀜

[1, 2, 3] [1, 2, 3]
[1, 2, 99] [1, 2, 99]

In [111]:
a = [1,2,3]
b = a.copy()

print(a, b)
print("a", id(a), " ", "b", id(b), sep=':')
#값은 똑같지만 주소는 다름

b[2] = 99
print(a, b) #b값만 바뀜!

[1, 2, 3] [1, 2, 3]
a:2049699774536: :b:2049699761992
[1, 2, 3] [1, 2, 99]

In [3]:
a = [38,21,53,62,19]
a

[38, 21, 53, 62, 19]

In [114]:
# 인덱스와 요소를 함께 출력하기 p.295
for index, value in enumerate(a,1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [118]:
i = 0
while i < len(a):
    print(i+1, a[i])
    i+=1

1 38
2 21
3 53
4 62
5 19

In [120]:
min(a) +max(a)

81

In [ ]:
#min
small = a[0]
i=1
while i < len(a):
    if small > a[i]:
        small = a[i]
    i+=1
        
print(small)

In [5]:
a[0]

38

In [ ]:
#max
large = a[0]
i=1
while i < len(a):
    if large > a[i]:
        large = a[i]
    i+=1
        
print(large)

In [ ]:
a =[1,2,3,4,5]

In [7]:
for i in range(1,6):
    print(i, end= ' ')

1 2 3 4 5

In [9]:
b = [i for i in range(1,6)]
b

[1, 2, 3, 4, 5]

In [10]:
c= [] #b = [i for i in range(1,6)] 위에꺼랑 똑같은거임!!
for i in range(1,6):
    c.append(i)
c

[1, 2, 3, 4, 5]

In [11]:
bb = [i+5 for i in range(1,6)]
bb

[6, 7, 8, 9, 10]

In [14]:
aa = [i for i in range(10) if i %2 ==0]
aa

[0, 2, 4, 6, 8]

In [20]:
aa=[] #aa = [i for i in range(10) if i %2 ==0] 랑 똑같음
for i in range(10):
    if i%2 == 0:
        aa.append(i)

aa

[0, 2, 4, 6, 8]

In [23]:
aaa = [i*j for j in range(1,3) for i in range(3,5)]
aaa

[3, 4, 6, 8]

In [22]:
aaa=[]
for j in range(1,3):
    for i in range(3,5):
        aaa.append(i*j)
aaa

[3, 4, 6, 8]

In [27]:
aaaa= [i*j for j in range(1,5) for i in range(1,5) if i%2==0]
aaaa

[2, 4, 4, 8, 6, 12, 8, 16]

In [28]:
aaaa=[]
for j in range(1,5):
    for i in range(1,5):
        if i % 2== 0:
            aaaa.append(i*j)
aaaa

[2, 4, 4, 8, 6, 12, 8, 16]

# UNIT23 2차원 리스트 사용하기 --- p.312

In [44]:
a=[
    [10,20],
    [30,40],
    [50,60] ]

a[2][1] = [100,200]

a[2][1][0] #100 빼오려면?

100

In [50]:
a=[]
a.append([])
#a

a[0].append(10)
#a

a[0].append(20)
#a

a.append([])
#a

a[1].append(100)
a

[[10, 20], [100]]

In [51]:
a = [ [10,20],[30,40],[50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [52]:
for x,y in a:
    print(x,y)

10 20
30 40
50 60

In [53]:
for i in a:
    for j in i:
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [55]:
# p.321
a = [ [ 0 for j in range(2) ] for i in range(3) ]
a

[[0, 0], [0, 0], [0, 0]]

In [61]:
a=[]
for i in range(3):
    a.append(x)
    x=[]
    for j in range(2):
        x.append(0)
a

[[0, 0], [0, 0], [0, 0]]

In [56]:
b= [i for i in range(1,6)]
b

[1, 2, 3, 4, 5]

In [57]:
b = []
for i in range(1,6):
    b.append(i)

b

[1, 2, 3, 4, 5]

In [66]:
#2차원에서 
a=[[10,20],[30,40]]
print(a)

b= a.copy()
b[0][0]=500
print(a)
print(b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [67]:
c =[100,200]
d =c.copy()
d[0]=300
c

[100, 200]

# UNIT24 문자열 응용하기 --- p.329

In [71]:
#문자열 안의 문자열을 다른 문자열로
s = 'hello world!'
s = s.replace('world', 'python')
s

'hello python!'

In [69]:
#문자열 안의 문자를 다른 문자로
table = str.maketrans('aeiou', '12345')
table

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

In [70]:
'apple'.translate(table)

'1ppl2'

In [75]:
#split : 공백을 기준으로 문자열 분리하여 리스트로 만듦
'체리 자두 딸기 오렌지 사과 키위 메론'.split()

['체리', '자두', '딸기', '오렌지', '사과', '키위', '메론']

In [72]:
#문자열과 문자열 리스트의 요소 연결
'-'.join(['체리', '자두', '딸기', '오렌지','사과', '키위', '메론'])

'체리-자두-딸기-오렌지-사과-키위-메론'

In [76]:
'ass'.upper()

'ASS'

In [77]:
'ass'.count('s')

2

In [78]:
'ASS'.lower()

'ass'

In [79]:
#왼쪽공백 삭제
' python '.lstrip()

'python '

In [80]:
#오른쪽공백 삭제
' python '.rstrip()

' python'

In [ ]:
#